anyio==4.6.2
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
fonttools==4.55.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.8.0
mplfinance==0.12.10b0
numpy==1.24.3       # Kompatibel dengan matplotlib dan contourpy
packaging==24.2
pandas==2.2.0
pillow==11.0.0
pycparser==2.22
pyparsing==3.2.0
pyTelegramBotAPI==4.24.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.7
pytz==2024.2
requests==2.32.3
schedule==1.2.2
scikit-learn==1.3.1
scipy==1.14.1
seaborn==0.13.2
SQLAlchemy==2.0.36
threadpoolctl==3.5.0
urllib3==2.2.3
Werkzeug==3.1.2
